/* --------------------------------- */
/* BASIC SETUP*/
/* --------------------------------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
}

html,
body {
    background-color: #373339;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

h2 {
	margin: 50px auto 5px;
}

img {
	margin: 50px auto;
	height: 200px;
	width: auto;
}

.page {
	color:#aaa;
	text-align: center;
    align-content: center;
}

.row {
    display: block;
}